.navbar {
  padding: 0rem 1rem;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.app-logo {
  width: 40px;
  height: 40px;
}

.user-avatar {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border-radius: 4rem;
  background-color: #fff;
  vertical-align: middle;
}

.user-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
}

.user-account {
  padding: 0 1rem;
  min-width: 3.5rem;
  min-height: 2.5rem;
  // border-left: 1px solid rgba(0, 0, 0, .12);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  border: 0;
  -ms-flex-wrap: none;
  flex-wrap: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
  outline: 0;
  // border-left: 1px solid #ebebeb;
}

.account-summary {
  /* margin-right: 1rem; */
  margin-left: 0.5rem;
  display: block;
  text-align: left;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.account-summary .account-name,
.account-summary .account-description {
  margin: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  line-height: 1rem;
}

.account-summary .account-description {
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 0.7;
}

.notice-dd {
  padding: 0;
  width: 320px;
}

.notice-dd .dropdown-header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(61, 70, 79, 0.125);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.notice-dd .dropdown-header > a,
.notice-dd .dropdown-header > a:focus,
.notice-dd .dropdown-header > a:hover {
  font-weight: 400;
  font-size: 0.75rem;
  color: #686f76;
}

.notice-dd .dropdown-item:not(:first-child) {
  border-top: 1px solid rgba(61, 70, 79, 0.125);
}

.notice-dd .dropdown-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notice-dd .user-avatar {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border-radius: 4rem;
  background-color: #fff;
  vertical-align: middle;
}

.notice-dd .dropdown-item-body:not(:first-child) {
  padding-left: 1rem;
}

.notice-dd .dropdown-item-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: normal;
  min-width: 0;
}

.dropdown-item .subject {
  font-size: 0.75rem;
  color: #3d464f;
}

.dropdown-item .date,
.dropdown-item .subject,
.dropdown-item .text {
  margin-bottom: 0;
  line-height: 1.4;
}

.dropdown-item .text {
  font-weight: 500;
  font-size: 0.875rem;
  color: #3d464f;
}

.dropdown-item .date,
.dropdown-item .subject,
.dropdown-item .text {
  margin-bottom: 0;
  line-height: 1.4;
}

.dropdown-item .date {
  font-size: 0.75rem;
  color: #686f76;
}

.dropdown-item .date,
.dropdown-item .subject,
.dropdown-item .text {
  margin-bottom: 0;
  line-height: 1.4;
}

.tile-circle {
  border-radius: 4rem;
}

.tile {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #686f76;
  font-weight: 600;
  font-size: 1rem;
  background-color: #e9eaeb;
  line-height: 2.25;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.25rem;
}

.nav-link {
  padding: 0 0.5rem !important;
}

.navs {
  height: auto !important;

  li {
    margin-top: 5px !important;
  }

  li.active {
    border-bottom: 3px solid #007bff;
  }

  h6 {
    line-height: 1.5 !important;
    margin-top: 5px;
  }
}

.navbar-brand {
  color: #007bff !important;
  // font-size: 1.5rem !important;
  font-weight: bold !important;
  // padding-left: 5px;
  padding-right: 10px;
}

.navbar-toggler {
  outline: none !important;
  border: none;
}

.mb-neg3 {
  margin-bottom: -3px;
}

.logo {
  height: 25px;
  vertical-align: sub;
}


@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 800px !important;
  }
}